body {
  background-image: url("https://osu.ppy.sh/images/backgrounds/page-ddd.png");
	font-family: Exo 2,Arial Grande,Tahoma,Helvetica,Arial,Microsoft YaHei,SimHei,Arial Unicode MS,sans-serif;
	font-size: 16px;
	line-height: 1.25;
	color: #555;
}

section {
  margin: 10px;
}

h1 {
  margin-left: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card h3 {
  margin: 0 2rem 0.5rem 0;
}

.box {
  display: flex;
}

.box p {
  margin: 0 0 0 0.5em;
}

.box p + p {
  margin-top: 1em;
}

.diff-icons {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.thumb {
  width: 166px;
  height: 120px;
}

.spam {
  font-style: italic;
  position: absolute;
  right: 1em;
  top: 5em;
}

// Loader animation
.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

a.nostyle {
  text-decoration: none;
}

.osu-li{
  margin: 5px;
  border:1px solid #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  padding: 10px;
}

.osu-li:hover{
	box-shadow: 0 1px 6px rgba(0,0,0,.70);
}

.osu-page{
	width: calc(100% - 80px);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	flex: none;
	background: #fff;
	list-style: none;
}

.full-height{
	height:100%;
}
