<!doctype html>
<html>
<header>
    <title>osu! #modreqs web, by ErunamoJAZZ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/png' href='/favicon.png'/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</header>
<body>


<!-- Menú -->
<div class="pure-menu pure-menu-horizontal">
    <span href="/" class="pure-menu-heading pure-menu-link">osu! #modreqs web</span>
    <ul class="pure-menu-list">
        <li class="pure-menu-item
                    {{#if beatmapsPage }} pure-menu-selected {{/if}}">
            <a href="/" class="pure-menu-link">Beatmaps</a>
        </li>
        <li class="pure-menu-item
                    {{#if aboutPage }} pure-menu-selected {{/if}}">
            <a href="/about" class="pure-menu-link">About</a>
        </li>
    </ul>
</div>

<!--Content-->
{{{body}}}

<!--Analitycs-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-86055309-1', 'auto');ga('send', 'pageview');
</script>
</body>
</html>