<nav class="pure-menu pure-menu-horizontal triangles">
  <div class="nav-menu topBotomBordersIn">
    <a href="/" class="nav-title">osu! #modreqs web</a>
    {{#link-to "home" class="pure-menu-item pure-menu-link" activeClass="pure-menu-selected"}}
      Beatmaps
    {{/link-to}}
    {{#link-to "about" class="pure-menu-item pure-menu-link" activeClass="pure-menu-selected"}}
      About
    {{/link-to}}
  </div>
</nav>
