body {
  background-image: url("https://new.ppy.sh/images/backgrounds/page-ddd.png");
}

section {
  margin: 10px;
}

.card {
  margin: 1rem;
  padding: 1ex;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

.box {
  display: flex;
}

.order {
  position: relative;
  float: right;
}

.thumb {
  width: 166px;
  height: 120px;
}

.spam {
  font-style: italic;
  position: absolute;
  right: 1em;
  top: 5em;
}