<div class="pure-g">
  <div class="pure-u-1-1">
    <h1>About</h1>
    <section>
      <p>Here you will find the <strong>last 2 days</strong> posted maps in <code>#modreqs</code>
          channel.</p>
      <p>Any idea or suggestion is welcome always. I accept <code>CODE</code> too!!!.
          So, please, if you want to help, just poke me and send a Pull Request.</p>
      <h3>Links</h3>
      <p><strong><a href="https://github.com/ErunamoJAZZ/osu-modreqs-express">
          https://github.com/ErunamoJAZZ/osu-modreqs-express</a></strong></p>
      <p><strong><a href="https://osu.ppy.sh/forum/t/513406">
          Forum thread</a></strong></p>
    </section>
  </div>
</div>
